* {
    margin: 0;
    padding: 0;
    box-sizing:
    border-box;
}

body {
    font: 13px Helvetica, Arial;
}

form {
    background: rgba(0, 0, 0, 0.2);
    padding: 3px;
    position: fixed;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
}

#message-form {
    bottom: 0;
}

label {
    padding-left: 20px;
}

input {
    font-size: 18px;
    height: 40px;
    line-height: 40px;
    margin-left: 4px;
    margin-top: 3px;
}

.to {
    flex: 3;
}

.message {
    flex: 10;
}

.message > input {
    width: 80%;
}

button {
    background: rgba(250, 250, 250, 1);
    border: none;
    padding: 10px;
    margin: 5px;
}

#message-form > button {
    flex: 1;
}

#messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#messages li {
    padding: 5px 10px;
}

#messages li:nth-child(odd) {
    background: #eee;
}
